<h1>Sessions#new</h1>
<p>This is in session</p>
<p>Login</p><br />

<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= simple_form_for(:session, url: login_path) do |f| %>
  
  <%= f.label :StudentNumber%>:
  <%= f.text_field :StudentNumber %><br />

  <%= f.label :Password %>:
  <%= f.text_field :Password %><br />

  <%= f.submit  "Log In" ,class: "btn btn-lg btn-primary"%>
<% end %>
  </div>
</div>

