<h1>Students#show</h1>
<p>Find me in app/views/students/show.html.erb</p>
First Name       :<%= @student.FirstName %></br>
Student Number   :<%= @student.StudentNumber %></br>
Password         :<%= @student.Password %></br>
Email            :<%= @student.Email %></br>
CourseID         : <%= @student.CourseID %>

